<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>
<!-- <div>
  <ul>
      <li *ngFor="let user of users;">{{user.name}}</li>
  </ul>
</div> -->

<div id="main">
  <ul>
      <li *ngFor="let user of users; let i = index" (click)="loadInfos(user.id)">{{user.name}}
        <ul *ngIf="id==user.id">
          <li>Name : {{user.name}}</li>
          <li>Job : {{user.jobTitle}}</li>
          <li><img src="{{user.image}}" alt=""></li>
        </ul>
      </li>
  </ul>
</div>

<!-- <div>
    <label for="choix">Choix : </label>
    <select id="choix" name="choix">
        <option *ngFor="let user of users;">{{user.name}}</option>
    </select>
</div> -->